// import styles (in order)
@import common/mixins
@import common/resets
@import common/common

body
	background: none repeat scroll 0 0 #F7F7F7
	
#focus	
	width: 1020px
	margin: 0 auto
	background: none repeat scroll 0 0 #F2F2F2
	
.small-box
	width: 120px
	height: 75px
	margin-left: 20px
	background-color: #FFF
	.positive
		color: #35B94B
	.negative
		color: red
	h2
		padding: 3px 0px		
		background-color: #00A3FF
		color: #FFF
		text-align: center
		font-size: 15px
		font-weight: bold
		text-transform: uppercase
	h3
		padding-top: 10px
		font-weight: bold
		font-size: 24px
		text-align: center
		color: #444444
		
.first
	margin-left: 0px !important
		